.arrow-container {
  display: flex;
  width: 100%; 
}

.arrow-container svg {
  height: 3%; 
  width: 30px; 
}
.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-wrapper {
  display: flex;
flex-direction: column;
align-items: center;
width: 80%; 
margin: 10px 0 50px 0;  
gap: 20px; 
}

.outer-wrapper h1 {
  align-self: flex-start;
}

.details-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid #273006;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 30px; 
}

.recipe-details h1 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #273006;
}

.servings {
  display: flex;
  align-items: center;
  gap: 5px;
}

.servings svg {
  color: white;
  background: #273006;
  padding: 3px;
  border-radius: 50%;
  stroke-width: 0.5;
}

.servings p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #273006;
}

.recipe-info {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.user-input-details {
  display: flex;
  gap: 3px;
}

.input-tag-details {
  display: flex;
  align-items: center;
  background-color: #273006;
  color: #fff;
  font-family: Quicksand;
  border-radius: 3px;
  padding: 3px;
  font-size: 14px;
}

.tab-button-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-weight: 600;
  color: #273006;
  text-align: left;
}

.recipe-details h3 {
  margin-top: 15px;
}

.recipe-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 30px; 
  margin-top: 0; 
}

.recipe-loader-container p {
  color: #273006;
  font-weight: 600;
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
  .recipe-details h1 {
    font-size: 32px;
  }

  .outer-wrapper {
    width: 80%;
  }

  .details-content-wrapper {
    align-items: flex-start;
  }

  .tab-button-container {
    align-items: flex-start;
  }

  .servings p {
    font-size: 16px;
    color: #273006;
  }

  .input-tag-details {
    padding: 5px;
  }

  .recipe-loader-container {
  }
}

/* ---------DESKTOP VIEW----------*/
@media (min-width: 1025px) {
  .recipe-details h1 {
    font-size: 32px;
  }

  .outer-wrapper {
    width: 60%;
  }

  .details-content-wrapper {
    align-items: flex-start;
  }

  .tab-button-container {
    align-items: flex-start;
  }

  .servings p {
    font-size: 16px;
    color: #273006;
  }

  .input-tag-details {
    padding: 5px;
  }

  .recipe-loader-container {

  }
}
