.collection-recipe-card {
  border-radius: 5px;
  border: 3px solid #273006; 
  padding: 10px; 
  /* line-height: 1.25; */
  /* background-color: #d1d8bd;   */
   background-color: #f5f5f5; 
}

.collection-recipe-card:hover {
  background-color: #d1d8bd;
}

.collection-recipe-card h2 {
  font-size: 18px;
  font-weight: 600;
}

.collection-recipe-card p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
}

.collection-recipe-image-container {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* This creates a square aspect ratio */
}


.collection-recipe-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%; 
  object-fit: cover;
  /* This ensures the image covers the entire container */
}

.user-input-collection {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.recipe-tag {
  background-color: #273006;
  color: white;
  font-family: Quicksand; 
  font-size: 12px;
  padding: 4px;
  border-radius: 3px;
}


/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
  .recipe-tag {
    font-size: 14px;
    padding: 5px;
  }
}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
  .recipe-tag {
    font-size: 14px;
    padding: 5px;
  }
}