
* {
  margin: 0;
}

a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  /* font-family: Raleway;  */
  /* font-family: Comfortaa; */
  font-family: Quicksand;
  color: #273006;
}

h1{
  color: #273006; 
  font-weight: 600;
}

p {
  font-family: Quicksand;
  color: #273006;
}

li {
  font-family: Quicksand; 
  color: #273006;
}

button {
  font-family: Quicksand; 
  font-size: 16px;
}

label {
  font-family: Quicksand;
  display: flex;
  align-items: center;
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {

  p {
    font-size: 18px; 
  }
  
  
  li {
    font-size: 18px; 
  }
  
  button {
    font-size: 18px; 
  }
  
  label {
    font-size: 18px; 
  }
  

}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {

  p {
    font-size: 18px; 
  }
  
  
  li {
    font-size: 18px; 
  }
  
  button {
    font-size: 18px; 
  }
  
  label {
    font-size: 18px; 
  }

}

.spinner-container-new {
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #286052;
}