.header {
    background-color: #f5f5f5 ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.logo-heading {
   font-weight: 300;
   font-size: 40px;
   margin: 10px 0; 
}

.hamburger-button {
    margin-top: 5px; 
}


/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
    .logo-heading {
        font-size: 50px;
     }

    .header nav ul {
        gap: 70%;
        margin-right: 24%;
    }
}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .logo-heading {
        font-size: 50px;
     }

    .header nav ul {
        gap: 70%;
        margin-right: 36%;
        margin-top: 8%;
    }

    .header a {
        font-size: 4vh;
    }
}